.super-usuario{
    display: flex;
}
.aside{
    background-color: rgba(0, 0, 0, 0.432);
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    align-items: center;    
    width: 260px;

}

.aside aside{
    height:100%;
    
}
.aside aside h3{
    margin-left: 10px;

    
}
.aside aside  ul {
    margin-top: 50px;
}
.fondo-aside{
    background: url('../../images/menu_background\ _invertido.jpg') no-repeat center/cover;
}

.aside aside  ul li{
    list-style: none;
    margin: 20px 0px;
}
.header{
    height: auto;
}



.ul-unico li{
    list-style: none;
    margin: 20px 0px;
}

.formulario{
    background: rgba(0, 255, 149, 0.801);
    width: 350px;
    padding: 20px;
    height: fit-content; margin-right: 35px;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 20px 20px 5px rgba(0, 255, 149, 0.356);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.formulario form{

    display: grid;
    justify-items: center;
}
.formulario form input, .formulario form select{
    margin: 5px 0px;
}

.mi_table{
    background: #fff; 
    text-shadow:1px 1px 1px #fff; 
    width:500px; 
    margin: 0px auto;
    box-shadow: 0px 0px 5px rgb(0, 255, 21);
}



[href="#"]{
    color:blue;
}
/* Tabla encargues */

.table{
    background:#fff; 
}

#no-eligio-maceta{
    display: none;
}

.top2{
    padding: 20px 0px;
}

.top{
    margin: 40px 0px 70px 0px;
}



.right h3{
    text-align: center;
    padding: 5px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(0, 255, 130);
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

