.super-usuario{
    display: flex;
}
.aside{
    overflow-y: scroll;
    height: 100%;
    display: flex;
    align-items: center;
    height: auto;
    width: 270px;
    background: url('../../images/menu_background _invertido.jpg') no-repeat center/cover;


}

.header{
    height: auto;
}
.content{margin: 40px;}


footer{
    height: 300px;
    background-color: blue;
}
.ul-unico li{
    list-style: none;
    margin: 20px 0px;
}

.formulario{
    background: rgba(0, 255, 149, 0.801);
    width: 350px;
    padding: 20px;
    height: fit-content;
    margin: 30px;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 20px 20px 5px rgba(0, 255, 149, 0.356);
    color: #fff;
    text-shadow: 1px 1px 1px #000;


}

.formulario form{

    display: grid;
    justify-items: center;
}
.formulario form input, .formulario form select{
    margin: 5px 0px;
}

