
/* Header / bienvenida*/

.header{
    width: 100%;
    height: 750px;

}
.header-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#h1-emprendimiento{
    text-align: center;
    margin-bottom: 50px;
    font-style: italic;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(0, 255, 200);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.562);
    color: rgb(255, 255, 255);
    font-size: 2.9rem;
}
.contenedor{
    background: url("../images/background.jpeg") no-repeat center/cover;
    background-attachment: fixed;
}

.contenedor-maq-de-escribir button{
    font-style: italic;
    margin: 0px 40px;
    border: 1px solid rgb(0, 255, 200);
    box-shadow: 0px 0px 5px rgb(0, 255, 200);
    background-color: #0297b8;
    padding: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.5s all;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
}
.contenedor-maq-de-escribir button:hover{
    transform: scale(1.1);
    
    box-shadow: 0px 0px 10px rgb(0, 255, 200);
}

.image-header{
    margin: 0px 40px;
    display: grid;
    justify-items: center;
}
.image-header img{

    border: 1px solid rgb(0, 255, 200);
    box-shadow: 0px 0px 10px rgb(0, 255, 200);
    border-radius: 100%;
    margin-bottom: 15px;

}
.image-header p{
    text-align: center;
    color: white;
    font-size: 25px;
}

/* Responsive Header*/
@media (max-width: 846px){
    .header{
        display: block;
        height: auto;
        padding: 40px 0px;
    }
    .header div{
        margin: 60px 0px;
    }
}

@media (min-width: 1450px){
    .header{
        height: 1000px;

    }
}